:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

[class$="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

.header {
  padding: 5rem 0;
  background-image: linear-gradient(to right, rgb(0 0 0/0.7), rgb(0 0 0/0.7)),
    url(../img/header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__guitarra {
  display: none;
}

.header__barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header__barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  width: 30rem;
}

.navegacion {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
  }
}

.navegacion__enlace {
  color: var(--blanco);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.navegacion__enlace:hover {
  background-color: var(--primary);
}

.modelo {
  color: var(--blanco);
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .modelo {
    text-align: left;
    max-width: 50%;
  }
}

.modelo__nombre {
  font-size: 8rem;
}

.modelo__precio {
  font-size: 5rem;
  color: var(--primary);
  font-weight: 900;
  line-height: 0;
}

.modelo__enlace {
  display: inline-block;
  margin-top: 2rem;
  color: var(--blanco);
  border: 1px solid var(--primary);
  text-decoration: none;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.modelo__enlace:hover {
  background-color: var(--primary);
}
